<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog
    xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.4.xsd">
    <!--
        Added the constraints for entity CycleToCustomerMapper.
    -->
    <changeSet id="20150902144918-2" author="jhipster">
        
        <addForeignKeyConstraint baseColumnNames="rented_customer_id"
                                 baseTableName="cycle_to_customer_mapper"
                                 constraintName="fk_cycletocustomermapper_rentedcustomer_id"
                                 referencedColumnNames="id"
                                 referencedTableName="member_mobile"/>

        <addForeignKeyConstraint baseColumnNames="moved_cycle_id"
                                 baseTableName="cycle_to_customer_mapper"
                                 constraintName="fk_cycletocustomermapper_movedcycle_id"
                                 referencedColumnNames="id"
                                 referencedTableName="bicycle"/>

    </changeSet>
</databaseChangeLog>
