
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMemberBillLabel" translate="ecbikeApp.memberBill.home.createOrEditLabel">Create or edit a Member Bill</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.memberBill.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.memberBill.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ecbikeApp.memberBill.dateOfPayment" for="field_dateOfPayment">Date Of Payment</label>
                <div class="input-group">
                    <input id="field_dateOfPayment" type="text" class="form-control" name="dateOfPayment" datetime-picker="{{dateformat}}" ng-model="vm.memberBill.dateOfPayment" is-open="vm.datePickerOpenStatus.dateOfPayment"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfPayment')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateOfPayment.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateOfPayment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateOfPayment.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="ecbikeApp.memberBill.billCenter" for="field_billCenter">Bill Center</label>
            <select class="form-control" id="field_billCenter" name="billCenter" ng-model="vm.memberBill.billCenter" ng-options="billingNode as billingNode.billCenterName for billingNode in vm.billingnodes track by billingNode.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="ecbikeApp.memberBill.memberToBill" for="field_memberToBill">Member To Bill</label>
            <select class="form-control" id="field_memberToBill" name="memberToBill" ng-model="vm.memberBill.memberToBill" ng-options="memberMobile as memberMobile.id for memberMobile in vm.membermobiles track by memberMobile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="ecbikeApp.memberBill.unitPrepaidCharge" for="field_unitPrepaidCharge">Unit Prepaid Charge</label>
            <select class="form-control" id="field_unitPrepaidCharge" name="unitPrepaidCharge" ng-model="vm.memberBill.unitPrepaidCharge" ng-options="tripRentUnitsToChargeMap as tripRentUnitsToChargeMap.typeOfPassOrFare for tripRentUnitsToChargeMap in vm.triprentunitstochargemaps track by tripRentUnitsToChargeMap.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
