<div>
    <h2 translate="ecbikeApp.memberBill.home.title">Member Bills</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="member-bill.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="ecbikeApp.memberBill.home.createLabel">
                        Create new Member Bill
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'ecbikeApp.memberBill.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateOfPayment"><span translate="ecbikeApp.memberBill.dateOfPayment">Date Of Payment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="billCenter.billCenterName"><span translate="ecbikeApp.memberBill.billCenter">Bill Center</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memberToBill.id"><span translate="ecbikeApp.memberBill.memberToBill">Member To Bill</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unitPrepaidCharge.typeOfPassOrFare"><span translate="ecbikeApp.memberBill.unitPrepaidCharge">Unit Prepaid Charge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="memberBill in vm.memberBills track by memberBill.id">
                    <td><a ui-sref="member-bill-detail({id:memberBill.id})">{{memberBill.id}}</a></td>
                    <td>{{memberBill.dateOfPayment | date:'medium'}}</td>
                    <td>
                        <a ui-sref="billing-node-detail({id:memberBill.billCenter.id})">{{memberBill.billCenter.billCenterName}}</a>
                    </td>
                    <td>
                        <a ui-sref="member-mobile-detail({id:memberBill.memberToBill.id})">{{memberBill.memberToBill.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="trip-rent-units-to-charge-map-detail({id:memberBill.unitPrepaidCharge.id})">{{memberBill.unitPrepaidCharge.typeOfPassOrFare}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="member-bill-detail({id:memberBill.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member-bill.edit({id:memberBill.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member-bill.delete({id:memberBill.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
