
 
<multi-step-container steps="steps" class="simple-prev-next">
    
 <div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4"> <button ng-disabled="$isFirst()" class="nextbtn" ng-click="$previousStep()">
            <span class="fa fa-chevron-left"></span>
            Previous
        </button>
        <strong ng-if="$getActiveStep().hasForm" class="fa" ng-class="$getActiveStep().valid ? 'fa-check' : 'fa-times'"></strong>

        <button ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" class="nextbtn" ng-click="$nextStep()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button></div>
  <div class="col-sm-4"></div>
</div>
    

    <main step-container>
        


    </main>


</multi-step-container> 