<div>
   <h2>Stop Trip</h2>
   <div class="container">
      <div class="row">
         <div class="col-md-2">
            <div class="form-group">
               <label for="id" translate="global.field.id">ID</label>
               <input type="text" class="form-control" id="id" name="id"
                  ng-model="stoptripmember.id"  >
            </div>
            <button class="btn btn-primary"  ng-click="findTripToStop()">
            <span class="glyphicon glyphicon-flash"></span> <span >Check Member</span>
            </button>
         </div>
           <div class="col-md-4" ng-show="memberValid">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th translate="entity.detail.field">Field</th>
                  <th translate="entity.detail.value">Value</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <span  >FirstName</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.firstName}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span  >LastName</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.lastName}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span  >DateOfBirth</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.dateOfBirth}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span  >MobileNo</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.mobileNo}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span  >Photo</span>
                  </td>
                  <td>
                     <img data-ng-src="{{'data:image/*;base64,' + memberMobile.photo}}" style="max-width: 100%;" ng-if="memberMobile.photo"/>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span >MyCurrentRentUnits</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.myCurrentRentUnits}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span  >MyChargedRentUnits</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.myChargedRentUnits}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span  >BehaviorStatus</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.behaviorStatus}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span>MyCurrentFineCharges</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.myCurrentFineCharges}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span>DateOfExpiration</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.dateOfExpiration}}" readonly>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span>Activated</span>
                  </td>
                  <td>
                     <input type="text" class="input-sm form-control" value="{{memberMobile.activated}}" readonly>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
         <div class="col-md-6" ng-show="memberValid" style="width:433px; height:62px; border:1px solid #ccc; background-color:#286090;;">
            <form name="editForm" role="form" novalidate ng-submit="stopTrip()" show-validation>
               <div class="modal-header">
                  
                  <h4 class="modal-title" id="myRentalTripLabel"  >Start trip</h4>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     <label for="id" translate="global.field.id">ID</label>
                     <input type="text" class="form-control" id="id" name="id"
                        ng-model="stoptripmember.id" readonly>
                  </div>
                  <div class="form-group">
                    <label >RentStartTime</label>
                     <input type="text" class="form-control" id="field_rentStartTime"  name="rentStartTime"
                        ng-model=" rentStartTime" readonly>
                  </div>
                   <div class="form-group">
                     <label  >RentedCycle</label>
                     <input type="text" class="form-control" id="field_rentedCycle"  name="rentedCycle"
                        ng-model="rentalCycle" readonly>
                  </div>
                   <div class="form-group">
                     <label  >startNode</label>
                     <input type="text" class="form-control" id="field_startNode"  name="startNode"
                        ng-model="startNode" readonly>
                  </div>
                  <!--  STOP NODE AND STOP TIME HERE -->
                  
                  <div class="form-group">
                  <label   >stopNode</label>
                  <select class="form-control" id="field_stopNode" name="stopNode" ng-model="stopNode.id" ng-options="rentalBufferNode.id as rentalBufferNode.stationName for rentalBufferNode in rentalbuffernodes" >
                  </select>
                  
                  <div ng-show="editForm.stopNode.$invalid">
                        <p class="help-block"
                           ng-show="editForm.stopNode.$error.required" translate="entity.validation.required">
                           This field is required.
                        </p>
                   </div>
                   
                   <div class="form-group">
                     <label  >RentStopTime</label>
                     <input type="datetime-local" class="form-control" name="rentStopTime" id="field_rentStopTime"
                        ng-model="rentStopTime" ng-model-options="{timezone: 'UTC'}"
                        required>
                     <div ng-show="editForm.rentStopTime.$invalid">
                        <p class="help-block"
                           ng-show="editForm.rentStopTime.$error.required" translate="entity.validation.required">
                           This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.rentStopTime.$error.datetimelocal" translate="entity.validation.datetimelocal">
                           This field should be a date and time.
                        </p>
                     </div>
                  </div>
               </div>
               
                
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                  <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                  </button>
                  <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                  <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                  </button>
               </div>
              </form>
         </div>
       
         
      </div>       
   </div>
</div>